In [6]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split

data=pd.read_csv('insurance_data.csv')
data

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [7]:
X=data.drop('bought_insurance',axis='columns')

In [8]:
y=data["bought_insurance"]
y

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
Name: bought_insurance, dtype: int64

In [12]:
model=LogisticRegression()
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2)

model= model.fit(X_train,y_train)

predictions =model.predict(X_test)

score = accuracy_score(y_test,predictions)  
score

0.8333333333333334

In [17]:
p=model.predict([[43]])
p

array([1], dtype=int64)

In [18]:
q=model.predict([[35]])
q

array([0], dtype=int64)