In [6]:
import pandas as pd
from sklearn import linear_model
df = pd.read_csv('homeprices.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [12]:
new_df= df.drop('price',axis='columns')
new_df

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [13]:
price= df.price
price

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [14]:
#Create Linear regression object
reg=linear_model.LinearRegression()
reg.fit(new_df,price)

LinearRegression()

In [15]:
reg.predict([[2600]])

array([533664.38356164])

In [16]:
reg.predict([[2800]])

array([560821.91780822])

In [17]:
reg.coef_

array([135.78767123])