In [1]:
import pandas as pd

In [5]:
music_data=pd.read_csv("music.csv")

In [6]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [7]:
from sklearn.tree import DecisionTreeClassifier
# create input Dataset

X= music_data.drop(columns=['genre'])

In [10]:
y= music_data['genre']

In [19]:
model= DecisionTreeClassifier()

# Train the model 

model= model.fit(X,y)

predictions =model.predict([[28,0],[34,1]])

predictions

array(['Acoustic', 'Classical'], dtype=object)