In [2]:
# Import support libraries 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

In [3]:
# Load Dataset
data=pd.read_csv("winequality-red.csv")

data['citric acid'].replace(0,data['citric acid'].median(),inplace=True)
data['citric acid']=data['citric acid'].astype(float)

In [19]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.292439,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.177288,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.010000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.150000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [21]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.26,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.26,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.26,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [22]:
data.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [23]:
data.isnull()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [36]:
mean=data.mean()
mean

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.292439
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
dtype: float64

In [37]:
std_dev=data.std()
std_dev

fixed acidity            1.741096
volatile acidity         0.179060
citric acid              0.177288
residual sugar           1.409928
chlorides                0.047065
free sulfur dioxide     10.460157
total sulfur dioxide    32.895324
density                  0.001887
pH                       0.154386
sulphates                0.169507
alcohol                  1.065668
quality                  0.807569
dtype: float64

In [38]:
q1=mean-1.4*std_dev

In [39]:
q3=mean+1.4*std_dev

In [40]:
outlier=[(data<q1) | (data>q3)]

In [41]:
corr_data=data[(data>q1) & (data<q3)]

In [42]:
corr_data['fixed acidity'].fillna(corr_data['fixed acidity'].mean(),inplace=True)
corr_data['volatile acidity'].fillna(corr_data['volatile acidity'].mean(),inplace=True)
corr_data['citric acid'].fillna(corr_data['citric acid'].mean(),inplace=True)
corr_data['residual sugar'].fillna(corr_data['residual sugar'].mean(),inplace=True)
corr_data['chlorides'].fillna(corr_data['chlorides'].mean(),inplace=True)
corr_data['free sulfur dioxide'].fillna(corr_data['free sulfur dioxide'].mean(),inplace=True)
corr_data['total sulfur dioxide'].fillna(corr_data['total sulfur dioxide'].mean(),inplace=True)
corr_data['density'].fillna(corr_data['density'].mean(),inplace=True)
corr_data['pH'].fillna(corr_data['pH'].mean(),inplace=True)
corr_data['sulphates'].fillna(corr_data['sulphates'].mean(),inplace=True)
corr_data['alcohol'].fillna(corr_data['alcohol'].mean(),inplace=True)

In [43]:
corr_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.400000,0.700000,0.260000,1.9,0.076,11.000000,34.0,0.99780,3.510000,0.56,9.4,5.0
1,7.800000,0.511659,0.260000,2.6,0.098,25.000000,67.0,0.99680,3.200000,0.68,9.8,5.0
2,7.800000,0.760000,0.286873,2.3,0.092,15.000000,54.0,0.99700,3.260000,0.65,9.8,5.0
3,8.006385,0.280000,0.286873,1.9,0.075,17.000000,60.0,0.99800,3.160000,0.58,9.8,6.0
4,7.400000,0.700000,0.260000,1.9,0.076,11.000000,34.0,0.99780,3.510000,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.200000,0.600000,0.080000,2.0,0.090,13.389742,44.0,0.99490,3.450000,0.58,10.5,5.0
1595,5.900000,0.550000,0.100000,2.2,0.062,13.389742,51.0,0.99512,3.520000,0.76,11.2,6.0
1596,6.300000,0.510000,0.130000,2.3,0.076,29.000000,40.0,0.99574,3.420000,0.75,11.0,6.0
1597,5.900000,0.645000,0.120000,2.0,0.075,13.389742,44.0,0.99547,3.306286,0.71,10.2,5.0
1598,6.000000,0.310000,0.470000,3.6,0.067,18.000000,42.0,0.99549,3.390000,0.66,11.0,6.0

In [157]:
# Assign columns to variables
X=corr_data.drop(columns=['quality'])
y=data['quality']

In [158]:
# Provide training size
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [159]:
# Choose model
model=DecisionTreeClassifier()

In [160]:
# Give training to model
model=model.fit(X_train,y_train)

In [161]:
# Model prections test value
predictions=model.predict(X_test)

In [162]:
# Score check
score=accuracy_score(y_test,predictions)

In [163]:
score

0.609375